
h1 {
    color: #369;
    font-size: 250%;
}

.text {
    font-size: 16px;
}

img {
    display: inline!important;
}
.foo {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    margin-top: 20px;
  }
  .foo-white {
    /* float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-top: 20px; */
  }
  .white {
    background: #ffffff;
  }
  .blue {
    background: #000000;
  }
