<!-- <h1>angularx-qrcode demo implementation</h1> -->
<!-- <h1 *ngIf="filetitle && filetitle!==''" style="width:100%;text-align:center;margin-top:1em;margin-bottom:0.5em;">{{filetitle}}</h1> -->
<!-- <h4 *ngIf="filetitle && filetitle!==''" style="width:100%;text-align:center;margin-top:.5em;margin-bottom:1em;">Total Qty: {{qrDataList.length-1}}</h4> -->
<div id="content3" >
  <!-- <div  *ngFor="let qrDataVal of qrDataList;let j = index" >
      <h1 *ngIf="filetitle && filetitle!=='' && j%100===0" style="width:100%;text-align:center;margin-top:1em;margin-bottom:0.5em;">{{filetitle}}</h1>

  </div> -->
   
<span *ngFor="let qrDataVal of qrDataList;let i = index;let j = index" >
  <br *ngIf="i>0 && i%noOfBlocks===0">
  <!-- <h3 *ngIf="qrDataVal.short_name ===''"  style="width:100%;text-align:center;margin-top:1em;margin-bottom:0.5em;" > CHeck</h3> -->
  <div *ngIf="filetitle && filetitle!=='' && j%100===0 && qrDataVal.short_name !==''" style="margin-bottom: 10px;" >
      <h1  style="width:100%;text-align:center;margin-top:1em;margin-bottom:0.6em;">{{filetitle}}</h1>
  </div>
  <!-- <div *ngIf="j%100===0" class="foo blue"></div> -->
  <!-- [style.display]="i>0 && i%5===0 ? 'inline-block' : 'inline-block'" border: 1px solid black;border-left:0px!important;border-bottom:0px!important;-->
  <!-- <div  [ngStyle]="{'background-color':j%100===0? 'black':'none' }" class="foo"></div> -->
  <!-- <div [ngClass]="{
    'foo':j%100===0
  }"> </div> -->
  <!-- <div  *ngIf="(j/noOfBlocks)%noOfBlocks ===9" class="foo blue" style="margin-top: 80px;"></div>
  
  <div  *ngIf="j%10===0 && j%100!==0 && (j/noOfBlocks)%noOfBlocks !==9" class="foo white"></div> -->
  <!-- <div  *ngIf="i==19 || i==29  || i==39  || i==49 || i==59 || i==69 || i==79 || i==89" class="foo-white white"></div> -->
  <table *ngIf="qrDataVal && qrDataVal.short_name" style="display:inline-table;text-align:center;border-collapse: collapse;margin:18.5px; margin-top: 22px;"  [width]="heightAndWidth-36">
  <tr >
    <!-- border-bottom: 1px solid black; -->
   
    <td style="height:44px;line-height:9px;">
    <label style="font-size:50%;height:22px;margin:0px;">{{qrDataVal.short_name}}</label>
    </td>
  </tr>
  <tr >
    <!-- border: 0px solid black;padding:15px -->
    <td style="">
    <qrcode [qrdata]="qrDataVal.license_key" [size]="heightAndWidth-35.5" [level]="'M'"></qrcode>
    </td>
  </tr>
  </table>
</span>
</div>
<div inputBlock id="inputBlock" style="width:80%;text-align:center;padding-left:10%; margin-top: 20px;" >
  <div class="form-group row">
    <label for="example-number-input" class="col-5 col-form-label">File Name:</label>
    <div class="col-7">
      <input class="form-control" type="text" [(ngModel)]="fileName"  />
    </div>
  </div>
  <div class="form-group row">
    <label for="example-number-input" class="col-5 col-form-label">Widht x Height:</label>
    <div class="col-7">
      <input class="form-control" type="number"  [max]="deviceWidth/2" [min]="1" [value]="heightAndWidth" (change)="changeHeightAndWidth($event)" (input)="changeHeightAndWidth($event)" #inputHW />
    </div>
  </div>
  <div class="form-group row">
    <label for="example-number-input" class="col-5 col-form-label">No of blocks: </label>
    <div class="col-7">
      <input class="form-control" type="number" [max]="totalElementsPerBlock" [min]="1" [value]="noOfBlocks" (change)="changeNoOfBlocks($event)" (input)="changeNoOfBlocks($event)" #inputNB />
    </div>
  </div>
  <div class="form-group row">
    <div class="custom-file mt-3 mb-3">
      <input type="file" (change)="changeListener($event)" #input id="customFile" class="custom-file-input"/>
      <!-- <input type="file" class="custom-file-input" id="customFile"> -->
      <label class="custom-file-label" for="customFile">Upload CSV: </label>
    </div>
    <!-- <label class="custom-file">
      <input type="file" (change)="changeListener($event)" #input id="file" class="custom-file-input"/>
      <span class="custom-file-control"></span>
    </label> -->

  </div>
</div>
  <br>
<button #printButton id="printButton" type="button" class="btn btn-info"  (click)="printQuestionPaper()" style="display:none;width:100%;">Print</button>
<!-- <div class="text">
  <label>
    Type to change: <input [(ngModel)]="qrdata" placeholder="name">
  </label>
  <br>
  <br>
  <button (click)="changeValue('Bruce')">Change Value to Bruce</button>
  <button (click)="changeValue('Peter Parker')">Change Value to Peter Parker</button>
  <button (click)="changeValue('42')">Change Value to 42</button>
</div> -->

<!-- <h2>Here are some links to get you started with angularx-qrcode:</h2>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/Cordobo/angularx-qrcode">Github: angularx-qrcode</a>
    </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/Cordobo/qrcode-generator">Github: this demo
        app</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener"
        href="http://cordobo.com/2444-angular4-qrcode-generator-component/">Tutorial</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.npmjs.com/package/angularx-qrcode">NPM</a></h2>
  </li>
</ul> -->
